body {
    background-color: whitesmoke;
    opacity: 0.95;
    font-family: "Instrument Sans", sans-serif;
    width: 100%;
    margin: auto;

}

.h1__title{
    color: black;
  text-align: center;
  line-height: 1.4;

}

.container {
    display: flex;
    margin: auto;
    position: relative;
    background-image: url("../assets/emile-seguin.png");
    height: 1000px;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    
    

    
    &__text {
        text-align: center;
        font-size: 25px;
        margin-top: 14%;
        margin-left: 27%;

      
    }

    &__button {
        padding: 20px;
        margin: 5px;
        width: 150px;
        border-radius: 35px 35px;
        background-color: black;
        color: white;
        opacity: 0.8;
        font-size: 20px;
    }
  
}

