.article__containers {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  border-radius: 2em 2em;
  margin: 1em 1em;
  margin-top: -4em;
  padding-bottom: 2em;
  font-size: 1.25rem;
  padding-top: 1em;
  position: absolute;
  top: 135%;
  left: 3%;
  
    &__text {
      color: white;
    }

    &__button {
      padding: 1em 3em;
      margin: 5px;
      border-radius: 35px 35px;
      background-color: #06040A;
      color: white;
      opacity: 0.8;
      font-size: 20px;
    
  }
  }


svg {
    width: 10%;
  height: auto;
  margin-top: 23px;
}

