.container__card {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        font-family: "Instrument Sans", sans-serif;
        gap: 0.5rem;
        margin: 0 auto;

        &__button {
            padding: 1.25rem;
            margin: 0.3rem;
            padding: 1em 2em;
            border-radius: 2.18rem 2.18rem;
            background-color: #333333;
            color: white;
            font-size: 20px;
        }
        &__one {
            padding: 1em;
            margin-left: 2em;

            &__title{
                font-size: 2.1em;
            }

            &__parraf {
                font-size: 1.25em;
            }

        }
        &__two {
            text-align: left;
            border-radius: 1.5rem 1.5rem;
            background-color: #C6D9E1;
            opacity: 0.8;
            line-height: 1em;
            margin: auto;
            padding: 1.5em;
            
            
        }
        &__three {
            text-align: left;
            border-radius: 1.5rem 1.5rem;
            background-color: #F2F2F2;
            line-height: 1em;
            margin: auto;
            padding: 1.5em;
            
            
        }

        &__four {
            
            text-align: left;
            border-radius: 1.5rem 1.5rem;
            background-color: #F2F2F2;
            line-height: 1em;
            margin: auto;
            padding: 1.5em;
            grid-column: span 2;
            display: flex;

            &__title {
                margin: 1em;
            }

            
            &__img {
                display: flex;
            }
        }

            

            
}
.container__3cards {
    display: grid;
  padding: 1em;
  margin-right: 1.8rem;
  margin-top: 1.25rem;
  gap: 1.85rem;
}